{% extends "base.html" %}
{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='MesIA.css') }}">
	{% endblock %}


	{% block main %}
    <title>Ajouter une IA</title>
    <h2>Ajouter une Intelligence Artificielle</h2>
    <form action="" id="formAdd" method=post enctype=multipart/form-data>


				<div class="container">
				    <div class="row">
				        <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

				            <div class="input-group image-preview">
				                <input type="text" class="form-control image-preview-filename" disabled="disabled"> 
				                <span class="input-group-btn">

				                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
				                        <span class="glyphicon glyphicon-remove"></span> Clear
				                    </button>

				                    <div class="btn btn-default image-preview-input">
				                        <span class="glyphicon glyphicon-folder-open"></span>
				                        <span class="image-preview-input-title">Browse</span>
				                        <input type="file" name="file"/>
				                    </div>
				                </span>
				            </div>
				        </div>
				    </div>
				</div>
				<p class="btn-input"><input type=submit class="btn-primary" value="Envoyer mon fichier"/></p>


    </form>


    {% endblock %}

		{% block scripts %}
			{{super()}}
			<script src="{{url_for('.static', filename='inputfile.js')}}"></script>
		{% endblock %}
