<!DOCTYPE html>

{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='apropos.css') }}">
	{% endblock %}



{% block main %}
<h2>A propos</h2>
<div class="aprop">
  <p>Jeu réalisé dans le but du projet tutoré de 2ème année de DUT Informatique à Orléans (45).
	<p>Membres du projet: Bedrane Nicolas, Eddamani Othmane, Guérin Théo, Kremer Quentin, Lecomte Clément, Pallu Flavien, Picard Quentin.
</br>
<p>Chef de projet : Clément Lecomte</p>
<p>Email : clement.lecomte@etu.univ-orleans.fr</p>

</div>
<h2><a href="mailto:clement.lecomte@etu.univ-orleans.fr">Contactez nous par mail</a></h2>
</form>
{% endblock %}
