

		{% extends "base.html" %}

	{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='MesIA.css') }}">
	{% endblock %}
	{% block content %}

	{% block main %}
	<h2>Mes Intelligences Artificielles</h2>

	<div class="mesia">
			<div class=container>
				<table class="table table-striped">
				    <thead>
				        <tr>
				            <th>Nom de l'IA</th>
										<th>Jouer</th>
				            <th>Modifier</th>
				            <th>Supprimer</th>
				        </tr>
				    </thead>
				    <tbody>

       {% for x in ia %}
       {% if x.user_pseudo==current_user.pseudo %}
			 <tr>
				 <td>{{x.name}}</td>
				 <td><a href="{{ url_for('addPlayer', username = current_user.pseudo, ia = x.name)}}"><button type="button" class="glyphicon glyphicon-ok-sign"></button></a></td>
				 <td><a href="{{ url_for('modifIa', filename=x.name) }}"><button type="button" class="glyphicon glyphicon-pencil"></button></a></td>
				 <td><a href="{{ url_for('suprIa', filename=x.name) }}" ><button type="button" class="glyphicon glyphicon-trash"></button></a></td>
		 	</tr>
        {% endif %}
      {% endfor %}
					</tbody>
				</table>
			</div>
  <a href="{{ url_for('upload_file') }}" ><button type="button" class="btn-primary" >Ajouter IA</button></br></a>
	</div>

		{% endblock %}
	{% endblock %}
