<!DOCTYPE html>

{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='apropos.css') }}">
	{% endblock %}



{% block main %}

<h1>Réglement</h1>
<div class="aprop">
  <p>Pour ce jeu les règles sont très simples:</p> 
</br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu quam congue, vehicula justo condimentum, elementum massa. Nam vel eleifend sapien, at condimentum massa. Aliquam elementum tortor lacus, id aliquet dui tempor ut. Sed magna velit, pulvinar ac rutrum at, fringilla nec nunc. Praesent molestie, ante non mollis venenatis, nisi neque convallis elit, dapibus elementum augue eros at ipsum. Nunc ut metus vitae ex cursus semper. Nam sagittis posuere libero nec imperdiet. Aliquam erat volutpat. Mauris iaculis posuere aliquam. Nunc gravida hendrerit risus, id eleifend eros laoreet nec. Duis ut justo ultricies, lacinia arcu suscipit, semper ipsum. Nullam quis condimentum ante. Nunc venenatis magna velit, nec dictum magna luctus vel.</p>


</div>
{% endblock %}