

.btn-primary {
    background-color: #FF8C00;
    border-radius: 4px;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn-input{
	text-align: center;
	margin-top: 15px;
}



.mesia{
	margin-top: 2%;
	text-align: center;

}
li{
	list-style-type: none;
}
p{
	font-size: 20px;
}
.table-striped{
	text-align:left;
}
.glyphicon-trash{
	color: red;
	width: 50px;
	height: 30px;
}
.glyphicon-pencil{
	width: 50px;
	height: 30px;
}
.container{
    margin-top:70px;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
		margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
